.crop {
width: 570px;
overflow: hidden;
height: 40px;
text-overflow: ellipsis;
white-space: nowrap; /* Don't forget this one */
}​

.cbtn {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

@media(max-width: 325px) {
    .page-heading h1 {
        font-size: 35px !important;
        }
    .subheading {
        font-size: 20px !important;
    }
}

@media(min-width: 350px) and (max-width: 380px) {
    .page-heading h1 {
        font-size: 35px !important;
    }
    .subheading {
        font-size: 20px !important;
    }
}

@media(min-width: 420px) and (max-width: 440px) {
    .page-heading h1 {
        font-size: 35px !important;
    }
    .subheading {
        font-size: 20px !important;
     }
}

@media(min-width: 760px) and (max-width: 780px) {
    .page-heading h1 {
        font-size: 60px !important;
    }

    .subheading {
        font-size: 25px !important;
    }
}
