certifi==2019.6.16
configparser==3.7.4
Django==2.2.3
django-summernote==0.8.11.4
mysql-connector-python==8.0.16
protobuf==3.9.0
psycopg2==2.8.3
pytz==2019.1
sentry-sdk==0.10.2
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
