<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web_app:index' %}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web_app:about' %}">À propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web_app:contact' %}">Contact</a>
                </li>

                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web_app:login' %}">Se connecter</a>
                </li>
                {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web_app:profil' %}">Bienvenue <u>{{ user }}</u> !</a>
                {% endif %}

                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web_app:register' %}">S'enregistrer</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web_app:logout' %}">Déconnexion</a>
                </li>
                {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>